@import url(reset.css);

body {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

h1 {
    font-size: 1.5rem;
}

/* Navbar */
.navbar {
    padding: 16px 20px;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
}

.logo__icon {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.logo__title {
    font-size: 1.2rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #00BFFE;
}

.navbar__menu {
    display: flex;
    padding: 0;
}

.navbar__menu-item {
    padding: 16px 20px;
}

.navbar__menu-item:hover {
    border: 1px solid white;
    border-radius: 5px;
    background-color: #18A0FA;
}

/* home */

.home {
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 16px 20px;
    color: black;
}

.home__title {
    margin: 20px 0;
}

.home__description {
    margin: 20px 0;
}

.home__avatar {
    border-radius: 50%;
    border: 1px solid black;
}

.home__button {
    background-color: transparent;
    border-radius: 5px;
    color: balck;
    padding: 12px 16px;
    cursor: pointer;
}

.home__button:hover {
    background-color: #F9F871;
}

/* about */

.about-me {
    text-align: center;
    padding: 16px 20px;
}

.about-me__title {
    font-weight: bold;
}

.about__tech-stacks {
    margin-top: 20px;
}

.tech-stack-icon {
    border: 1px solid #5D98B8;
    border-radius: 50%;
    width: 125px;
    height: 125px; 
    margin: 0 auto 20px auto ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tech-stack-title {
    font-weight: bold;
}

.tech-stack-icon i {
    color: #5D98B8;
    font-size: 3rem;
    
}

.tech-stack-icon i:hover {
    transition: all 1s;
    transform: scale(1.25) rotate(45deg);
    color: #00BFFE;
}

.about__tech-stacks {
    display: flex;
    align-items: center;
}

.tech-stack {
    flex-basis: 33.333%;
}

.skills {
    background-color: #E6F4F1;
    text-align: center;
    padding: 20px;
}

.skills__title {
    font-weight: bold;
}

.skillset {
    display: flex;
    margin-top: 20px;
    color: white;
}

.skillset__left {
    flex-basis: 60%;
    padding: 16px 20px;
    background-color: #303030;
}

.skill__description {
    display: flex;
    justify-content: space-between;
}

.skiilset__title {
    margin-bottom: 20px;
}

.skill {
    margin: 20px auto;
}

.skill__bar {
    width: 100%;
}


.skill__value {
    width: 100%;
    height: 2px;
    background-color: #F9F871;
}

.skillset__right {
    flex-basis: 40%;
}


.tools {
    background-color: #5E5E5E;
    padding: 16px 20px;
    height: 50%;
    box-sizing: border-box;
}

.etc {
    background-color: #919191;
    padding: 20px;
    box-sizing: border-box;
    height: 50%;
}