@import url(reset.css);

body {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

h1 {
    font-size: 1.5rem;
}

/* Navbar */
.navbar {
    padding: 16px 20px;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
}

.logo__icon {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.logo__title {
    font-size: 1.2rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #00BFFE;
}

.navbar__menu {
    display: flex;
    padding: 0;
}

.navbar__menu-item {
    padding: 16px 20px;
}

.navbar__menu-item:hover {
    border: 1px solid white;
    border-radius: 5px;
    background-color: #18A0FA;
}

/* home */

.home {
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 16px 20px;
    color: black;
}

.home__title {
    margin: 20px 0;
}

.home__description {
    margin: 20px 0;
}

.home__avatar {
    border-radius: 50%;
    border: 1px solid black;
}

.home__button {
    background-color: transparent;
    border-radius: 5px;
    color: balck;
    padding: 12px 16px;
    cursor: pointer;
}

.home__button:hover {
    background-color: #F9F871;
}